<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
</head>
<body>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/mom">Mom</a></li>
        <li><a href="/dad">Dad</a></li>
        <li><a href="/zach">Zach</a></li>
        <li><a href="/forrester">Forrester</a></li>
    </ul>
</nav>